* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.conteiner {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;

}

.links a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
    text-decoration: none;
    padding-left: 40px;

}

.sign-in {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
    background: none;
    border: none;
}

.sign-in1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F53855;
    border: 1px solid #F53855;
    border-radius: 50px;
    padding: 13px 45px;
    margin-left: 30px;
}

.row {
    display: flex;
    width: 100%;
    
}

.col-6 {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}

.col-4 {
    width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
}

.col-3 {
    width: 25%;

    box-sizing: border-box;
}


.title-right h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    padding-top: 15px;
}

.h1span {
    font-weight: 700;

}

.section-p {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    padding-top: 20px;
    padding-bottom: 40px;

}

.button-start {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 17px 77px;
    background: #F53838;
    border-radius: 10px;
    border: none;
    box-shadow: -4px 47px 52px -8px rgba(245, 56, 56, 0.2);
   

  
}

.section-start {
    margin-top: 88px;

}






.cont {
    box-sizing: border-box;
    border-radius: 30px;
    margin-top: 104px;
    min-height: 200px;
    box-shadow: 2px 20px 38px 6px rgba(34, 60, 80, 0.2);
    display: flex;
    align-items: center;
}
.card-section {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #EEEFF2;
}
.last {
    border: none;
}
.usersbox {
    display: flex;
    align-items: center;
    justify-content: center;
   
    box-sizing: border-box;
}

.usersbox svg {
    margin-right: 35px;
}

.svg-border {
    padding-top: 37px;
}
.img-box{
    padding-right: 50p;

}

.h390 {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.users {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}

.content {
    margin-top: 95px;
    margin-bottom: 130px;
}

.weprovide {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    padding-top: 70px;
}

.weprovide1 {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;

}

.prolog {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    padding-top: 20px;

}

.prolog2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    padding-bottom: 20px;
}

.chekbox {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.power {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
    padding-left: 12px;

}

.right-box {
    margin-left: 120px;
}

.boxxing {
    background-color: #E5E5E5;
    width: 100%;
}

.choose {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    padding-top: 80px;
    margin-bottom: 20px;
}

.title-plan {
    margin-bottom: 60px;
}

.lets {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.chekbox2 {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.leftbox svg {
    margin-right: 28px;
}

.leftbox {
    border: 2px solid #DDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 760px;
    padding: 76px 20px 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
.leftbox:hover{
    border:2px solid red;
}

.select-info {
    margin: auto 0 0;
}

.unlinitet {
    display: flex;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
}

.free-title {
    padding-top: 30px;
    padding-bottom: 30px;

}

.free-title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;

}

.free-title2 {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    padding-bottom: 20px;
}

.mo {
    color: #4F5665;
}

.select {
    border: 2px solid #DDDDDD;
    border-radius: 50px;
    padding: 13px 62px;
    border: 2px solid #F53838;
    background: #FFFFFF;
}

.huge {
    margin-top: 150px;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}

.huge2 {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;

}

.lets2 {
    margin-top: 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.lets3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-bottom: 150px;
}

.title-trustet {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-top: 124px;
}

.title-trustet2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 20px;
}

.these {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}

.these2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-bottom: 60px;
}

.box-disp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-viezh {
    display: flex;
    align-items: center;
    font-family: 'Rubik';
    font-weight: 500;
    color: #0B132A;
}

.kart-info {
    border-radius: 10px;
    background: #FFFFFF;
    height: 100%;
    padding: 30px;
}
.kart-info:hover {
    border: 2px solid red;
    
}
.centr{
    text-align: center;
}


.wowp {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #0B132A;
    padding-top: 20px;
    line-height: 30px;
}

.idkart {
    padding-left: 20px;
}

.delta {
    margin-top: 60px;
    padding-bottom: 181px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vector1 {
    border-radius: 50px;
    border-color: #F53838;
    padding: 17px 20px;
    margin-right: 20px;
}

.vector2 {
    border-radius: 50px;
    border: 0px none;
    padding: 17px 20px;
    
}
.vector2:hover{
    background-color: #F53838;
}
.vector1 svg:hover  {
 
    background-color:white;
}
.vector1:hover{
    background-color: #F53855;

}


.subscribe {
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 58px 70px;
    margin-top: -115px;
    align-items: center;
    
}


.subscribe-title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 35px;
    color: #0B132A;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.withp {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.foot {
    margin-top: 69px;
    margin-left: 15px;
}

.lasles {
    font-family: 'Rubik';
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    padding-top: 20px;
}

.logosvg {
    margin-left: -17px;
    margin-top: 17px;
}

.vpn {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
}

.product {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}

.download {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.product1 {
    margin-left: 240px;
}

.product2 {
    margin-left: 155px;
}

.product3 {
    margin-left: 145px;
}
.gamburger {
    display: none;
}